{{!-- <div class={{concat "project-" @type}}> --}}
<div class={{concat "project-" (if @isOnline "online" "financed")}}>
  {{!-- <p>{{@openingDateTime}}</p> --}}
  <Project::Image
    @src={{concat "https://cdn.october.eu/" @project.illustration.url}}
  />
  <Project::Details @project={{@project}} @isOnline={{@isOnline}} />
</div>