<GeneralContainer>
  <h3>{{this.projectsOnline.length}}
    {{formatstring "project" this.projectsOnline.length}}
    online</h3>
  <div class="projects-online">
    {{#each this.projectsOnline as |project|}}
      <Project
        @project={{project}}
        @isOnline={{true}}
        @openingDateTime={{fn this.setDateTime @project.openingDate}}
      />
    {{/each}}
  </div>
  <h3>Financed projects</h3>
  <div class="projects-financed">
    {{#each this.projectsCompleted as |project|}}
      <Project @project={{project}} @isOnline={{false}} />
    {{/each}}
  </div>

</GeneralContainer>